*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/img/cool1.jpg);
  /* background-color: black; */
  background-size: contain;
  /* background-repeat: repeat-y; */
}
.parent {
  margin: 0 90px;
  width: 90%;
  display: inline-block;
}


/* Title Header */
.header {
    color: white;
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
    font-family: 'Press Start 2P', 'cursive';
}

/* Sick Customs LOGO */
.LOGO {
  height: 40px;
  
}

/* NavBar Logo Position */
.navlogoposition {
  justify-content: center
}


/* NavBar style */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .nav-position {
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: rgb(24, 23, 23);
  }
  
  li {
    float: left;
    }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(75, 206, 211);
  }

  .carouselbox {
    justify-content: center;
    width: 50%;
    height: 100px;
    padding: 10px 10px;
  }

/* Index Hompage Pic Section1 */
.section1 {
  height: 450px;
  width: 100%;
  margin-top: 70px;
  background-image: url(/img/glowing.jpg);
  background-size: cover;
  border-style: ridge;
  font-family: 'Permanent Marker', 'cursive';
}


/* Contact Section Pic */
.contactuspic {
  height: 300px;
  width: 100%;
  margin-top: 75px;
  background-image: url(/img/central_valley_ucsf_banner_image.jpg);
  background-size: cover;
  border-style: ridge;
}

/* Contact Pic Text */
.contactpictext {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Permanent Marker', 'cursive';
}

/* Google Map */
.googlemap {
  margin-top: 10px;
  float: left;
}


/* Section 1 Text */
.section1text {
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 70px;
}

.list-item {
  height: 250px;
  width: 24%;
  display: inline-block;
  background-size: cover;
  border-style: ridge;
  margin-left: 10px;
}

.row {
  width: 100%;
  display: block;
  margin: 10px 0;
}

.col1-3 {
  width: 25%;
}

.carousel {
  width: 80%;
}

#largeLogo {
  height: 200px;
  width: 200px;
}

/* About Footer */
.aboutfooter {
  height: 150px;
  width: 90%;
  color: aqua;
  margin-top: 525px;
  border-top-style: double;
  text-decoration: none;
}




/* Footer Links */
.footerlinks {
  display: inline-block;
  margin-left: 220px;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: aqua;
  text-decoration: none;
}

/* Customer Reviews */
.wrapper1 {
  display: inline-block;
  position: absolute;
  right: 200px;
  width: 70%;
  padding-top: 70px;
}


.reviews {
  width: 33%;
  display: inline-block;
  border-style: ridge;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: 'Permanent Marker', 'cursive';
  background-color: black;
}


/* Customer Reviews Title */
.customerreviewstitle {
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: 'Permanent Marker', 'cursive';
  margin-top: 10px;
  }


  /* Contact Form */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(233, 60, 47);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 45px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #c51f1f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(17, 192, 192);
  }
  
  .containercontact {
    display: inline-block;
    border-radius: 5px;
    background-color: #48cddf;
    padding: 20px;
    height: 500px;
    width: 705px;
    margin-top: 10px;
    margin-left: 10px;
  }

  /* Footer Text */
  .footertext {
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: 'Permanent Marker', 'cursive';
  }

